{% extends 'index.html.twig' %}

{% block title %}Compte | Home{% endblock %}

{% block body %}
    <article class="content">
        <fieldset>
            <legend>Creation Compte</legend>
            <form action="#" class="form" method="post" onsubmit="return post()">
                <div class="row">
                    <select name="typecp" class="selectcmpt" id="typecp" onchange="frais()">
                        <option value="0">--Type Compte--</option>

                    </select>
                    <label for="frai">Frais:<b id="frai"></b></label>
                </div>
                <div class="row">
                    <select name="client" id="client" class="selectcmpt">
                        <option value="0">--------------Clients--------------</option>
                        <option value="0"><b>------List Clients Morals-------</b></option>

                        <option value="0"><b>------List Clients Physiques------</b></option>

                    </select>
                    <label for="solde">Solde</label>
                    <input type="text" class="inputcl" id="solde" name="solde" required/>
                </div>
                <div class="row">
                    <button type="submit" class="valider">Ajouter</button>
                    <button type="reset" class="annuler">Annuler</button>
                </div>
            </form>
        </fieldset>
    </article>
{% endblock %}
